
/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden !important;
}
$bgColor:#FFFFFF;
$fontColor:#000000;
$designColor:#f2b50c;
$mobileBg:#f2f2f2;
$orange:#f2b50c;
$text-color:#d5e3d9;
$fontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
::-webkit-scrollbar{
    width: 5px;
}
body{
      background: $mobileBg;
}
.m-top{
    margin-top: 80px;
}
.m-top-10{
    margin-top: 10px;
}
.pad-top{
    padding-top: 0px;
}
::-webkit-scrollbar-thumb{
    background: $designColor;
    border-radius: 10px;
}
.flex-space-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flex{
    display: flex;
    justify-content:center;
    align-items: center;
}
.flex-vertical{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
body{
    font-family: $fontFamily;
}
.icon-font,.icon{
    cursor: pointer;
    color:$designColor;
    font-size: 20px;
}
.btn{
    cursor: pointer;
    color:$bgColor;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color:$designColor;
}
.btn:hover{
    color:$bgColor;
    background-color:$fontColor;
}
.brand-img{
    width: 100%;
    height: 100%;
}
.box-shadow{
    box-shadow: 2px 2px 10px grey;
}
.icon{
    color:$designColor;
    cursor: pointer;
}
.display-hide{
    display: none;
}
.generic label{
    font-weight: 500;
}
.pad-right-10{
    padding-right: 10px;
}
.space-between{
    justify-content: space-between;
}
.w-95{
    width: 95%;
}
//hover-text
.hover-text{
    position: relative;
    font-weight: normal !important;
}
.hover-text:hover::before{
    content: var(--hover-text);
    min-width:150px;
    position: absolute;
    color:#000000;
    top: 50px;
    left: 0px;
    background: #ffffff;
    box-shadow: 0px 5px 10px grey;
    height: fit-content;
    padding: 10px;
    z-index: 1;
}
.hover-text:hover::after{
    content: '';
    position: absolute;
    width: 20px;
    height:20px;
    background-image:linear-gradient(to right,transparent,#ffffff);
    top: -20px;
    rotate: 45deg;
    z-index: 2;
    left: 80px;
}
@media screen and (max-width : 576px) {
    .pad-top{
        padding-top: 50px;
    }
    .pad-top-other{
        padding-top: 80px;
    }
}/* You can add global styles to this file, and also import other style files */
