@import "../../styles.scss";
.landing-container{
    color:$designColor;
    width: 80%;
    height: calc(100vh - 80px);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
     left: 10vw;
}

.landing-sub-div{
    // height: transparent;
    align-items: center;
}
.btn{
    width: 300px;
    height: 50px;
}
.btn:hover{
    border: 2px solid $bgColor;
}
.head-card{

    height: 100px;
    font-size: 20px;
}
.schema-card{
    cursor: pointer;
    margin: 20px;
    height: 100px;
    font-weight: bold;
}
@media screen and (max-width:576px){
    .landing-container{
        height: 100vh;
        position: relative;
        top: 150px;
        left: 0px;
    }
    
}