<div class="container-fluid landing-container flex">
    <div class="row flex landing-sub-div">
        <div class="col-md-6 head-card flex box-shadow">
            <b>
                     Available Schemas
            </b>
        </div>
        <div class="w-100 m-0 p-0">

        </div>
        <div class="col-md-3 schema-card box-shadow flex" (click)="navToRegisteredUsers()">
            Registered Users Lisrt
        </div>
        <div class="col-md-3 schema-card box-shadow flex" (click)="navToOrders()">
            All Orders
        </div>
        <div class="col-md-3 schema-card box-shadow flex">
            Products
        </div>
        <div class="col-md-3 schema-card box-shadow flex">
            Cart Details
        </div>
        <div class="col-md-3 schema-card box-shadow flex">
            Delivered List
        </div>
        <div class="col-md-3 schema-card box-shadow flex">
            Un Delivered List
        </div>
    </div>
</div>