<ng-container>
    <div class="container web-container">
    <div class="row m-2">
        <table class="col-md-12 mt-3 mb-3">
            <thead>
                <tr>
                    <th>
                        Index
                    <th>
                        User Id
                    </th>
                    <th>
                        User Name
                    </th>
                    <th>
                        User Mail
                    </th>
                    <th>
                        Delete
                    </th>
                </tr>
            </thead>
            <tbody>
            @for (user of usersList; track user._id) {
                <tr>
                    <td>
                        {{$index+1}}
                    </td>
                    <td>
                        {{user._id}}
                    </td>
                    <td>
                        {{user.userName}}
                    </td>
                    <td >
                        {{user.userMail}}
                    </td>
                    <td>
                        <i class="fa-solid fa-trash icon" (click)="deleteFromUser(user)"></i>
                    </td>
                </tr>      
            }
            </tbody>
        </table>
    </div>
    </div>
    <app-event-modal [inputMsg]="modalMsg" *ngIf="deleteModal" (sendEvent)="receiveEvent($event)"></app-event-modal>
</ng-container>
<div class="container mobile-accordian">
    <div class="row">
        <ng-container *ngFor="let user of usersList">
            <app-generic-accordian  (sendUserId)="receiveUserId($event)" [reqProps]="{
                        contentColor:'#f2b50c',
                        accordianWidth:'100%',
                        heading:user?.userMail,
                        description:'',
                        address:user?.address,
                        price:'',
                        img:'',
                        quantity:'',
                        userId:user?._id,
                        deleteIcon:true,
                        phone:user?.phone
            }" >

            </app-generic-accordian>
        </ng-container>
    </div>
</div>