<!--headers-->
<div class="header">

</div>
<!---headers-->
<div class="admin-main">
    <router-outlet></router-outlet>
</div>
 <!--nav section-->
 <div class="nav-section">
    <blockquote (click)="onClickPanel()">
        <b>
            Admin Panel
        </b>
    </blockquote>
    <div class="route-section flex-vertical">
        <hr class="line" />
        <a href="upload">Upload section</a>
        <hr class="line" />
        <a href="registered-users">Register list</a>
        <hr class="line" />
        <a>All Orders list</a>
        <hr class="line" />
        <a>Ordered list</a>
        <hr class="line" />
        <a>Un Ordered list</a>
        <hr class="line" />
    </div>
 </div>
 <!--nav section-->
 <app-loader *ngIf="shareData.loader()"></app-loader>
 <app-message-modal *ngIf="shareData.inputMsg()" [inputMsg]="shareData.inputMsg()"></app-message-modal>