<div class="container order-lists">
  <div class="row m-2">
    <div class="flex">
        <h1>
            Un Delivered Orders
        </h1>
    </div>
    <table class="col-md-12 mt-3 mb-3">
        <thead>
            <tr>
                <th>
                    Index
                <th>
                    Order  Id
                </th>
                <th>
                    User Id
                </th>
                <th>
                    Product Name
                </th>
                <th>
                    Order Time
                </th>
                <th>
                    View
                </th>
            </tr>
        </thead>
        <tbody>
        @for (order of orderList; track order._id) {
            <tr>
                <td>
                    {{$index+1}}
                </td>
                <td>
                    {{order._id}}
                </td>
                <td>
                    {{order.userId}}
                </td>
                <td >
                    {{returnProductsName(order.orderedProducts)}}
                </td>
                <td>
                    {{order.orderTime}}
                </td>
                <td>
                    <button class="btn" (click)="clickToviewOrder(order)">
                        View
                    </button>
                </td>
            </tr>      
        }
        </tbody>
    </table>
  </div>
</div>
<div class="container mobile-order-lists">
    <div class="row">
        <div class="flex">
            <h1>
                Un Delivered Orders
            </h1>
        </div>
        <ng-container *ngFor="let order of orderList">
            <app-generic-accordian  (sendOrderId)="receiveOrderId($event)" [reqProps]="{
                        contentColor:'#f2b50c',
                        accordianWidth:'100%',
                        heading:order?._id,
                        orderTime:order?.orderTime,
                        viewBtn:true,
                        userId:order?.userId,
                        productName:returnProductsName(order.orderedProducts),
                        order:true,
                        delivered:order?.delivered
            }" >

            </app-generic-accordian>
        </ng-container>
    </div>
</div>