
@import "../../styles.scss";
.order-container{
    position: relative;
    width: 80vw;
    left: 10vw;
}
.product{
    justify-content: space-around;
    box-shadow: 2px 2px 20px  grey ;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}
.image{
    height: 100px;
}
th,td{
    border: 2px solid $designColor;
    border-collapse: collapse;
    text-align: center;
}
.btn{
    width: fit-content;
}
thead{
    color:$bgColor;
    height: 50px;
    background: $designColor;
}
.quntity-btn{
    // width: 20px;
    // height: 20px;
}
.mobile-order-container{
    display: none;
}
p{
    margin: 10px;
}
@media screen and (max-width:576px){
    .order-container{
        display: none;
    }
    .mobile-order-container{
        width: 100%;
        display: block;
    }
}