<div class="container order-container" *ngIf="orderDetails"> 
    <div class="row m-2">
        <table class="col-md-12 mt-3 mb-3">
            <thead>
                <tr>
                    <th>
                        Index
                    </th>
                    <th>
                        Image
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Order
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (product of orderDetails.orderedProducts;track product.productId;let isFirst=$first;let indexOut=$index){
                <tr>
                    <td [attr.rowspan]="orderDetails.orderedProducts.length" *ngIf="isFirst">
                        {{indexOut+1}}
                    </td>
                    <td>
                    <img [src]="product.productImg" class="image" />
                    </td>
                    <td>
                        {{product.productName}}
                    </td>
                    <td >
                        {{product.quantity}}
                    </td>
                    <td>
                        {{product.productPrice | currency:'INR'}}
                    </td>
                    <td [attr.rowspan]="orderDetails.orderedProducts.length"  *ngIf="isFirst">
                        <button  class="btn" (click)="trackOrder(orderDetails)">
                            Track Order
                        </button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
